<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buy a Service Package</title>
</head>
<body>
        <div align="right" th:if="${session.user}">
            <h2 th:text="${session.user.username}"></h2>
        </div>

        <div align="right" th:if="${session.user}">
            <a th:href="@{/Logout}">Logout</a>
        </div>

        <h1> Buy a Service Package</h1>

        <div th:if="${selecting}">
            <p>Complete the form to buy a Service Package</p>
            <form action="#" th:action="@{/BuyPackage}" method="POST">
                <fieldset>
                    <p>
                        <label for="packageid">Choose a package:</label>
                        <select name="packageid" id="packageid" required>
                            <option th:each="pckg : ${allpackages}" th:value="${pckg.ID}"
                                    th:text="${pckg.name}"></option>
                        </select>
                    </p>
                    <input type="submit" name="Select package">
                </fieldset>
            </form>
        </div>

        <div th:if="${selected}">
            <form action="#" th:action="@{/Confirmation}" method="GET">
                <fieldset>
                    <label>Choose a duration:</label>
                    <select name="duration" id="duration" required>
                        <option value=12>12 months</option>
                        <option value=24>24 months</option>
                        <option value=36>36 months</option>
                    </select>

                    <p>
                        Subscription's start day: <input type="date" name="startDate"
                                                         th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                                         placeholder="yyyy-mm-dd" required />
                    </p>

                    <p>
                        <label th:for="${selectedPackage.availableProducts}">Choose the optional products:</label>
                        <input type = "checkbox" th:name="selectedProducts" th:each="prod: ${selectedPackage.availableProducts}" th:value="${prod.id}" th:text="${prod.name}" >
                    </p>

                    <input type="submit" name="Confirm">
                </fieldset>
            </form>
        </div>

        <div>
            <a th:href="@{/HomeCustomer}"> Click here to go to the Customer Home. </a>
        </div>

</body>
</html>