<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Employee Home</title>
</head>
<body>

    <div align="right" th:if="${session.user}">
        <h2 th:text="${session.user.username}"></h2>
    </div>

    <div align="right" th:if="${session.user}">
        <a th:href="@{/Logout}">Logout</a>
    </div>
    <h1> Employee Homepage</h1>

    <a th:href="@{/SalesReportServlet}">View sales data.</a>

    <h2> Here is the list of all created Service Packages: </h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Cost for 12 months</th>
            <th>Cost for 24 months</th>
            <th>Cost for 36 months</th>
            <th>Associated Services</th>
            <th>Associated Optional Products</th>
        </tr>
        <tr th:each="package: ${allpackages}">
            <td th:text="${package.name}"></td>
            <td th:text="${package.monthscost12}"></td>
            <td th:text="${package.monthscost24}"></td>
            <td th:text="${package.monthscost36}"></td>
            <td>
                <div th:if="${package.services!=null and !package.services.isEmpty()}">
                    <p th:each="service: ${package.services}">
                        <span th:text="${'Type: ' + service.type}"></span>
                        <span th:text="${'Name: ' + service.name}"></span>

                        <span th:if="${service.type == 'MobilePhone'}">
                            <span th:text="${'Minutes: ' + service.minutes}"></span>
                            <span th:text="${'Extra minutes fee: ' + service.extraminfee}"></span>
                            <span th:text="${'Number of sms: ' + service.sms}"></span>
                            <span th:text="${'Extra sms fee: ' + service.extrasmsfee}"></span>
                        </span>

                        <span th:if="${service.type == 'FixedInternet'}">
                            <span th:text="${'Number of giga: ' + service.giga}"></span>
                            <span th:text="${'Fee for extra giga: ' + service.extragigafee}"></span>
                        </span>

                        <span th:if="${service.type == 'MobileInternet'}">
                            <span th:text="${'Number of giga: ' + service.giga}"></span>
                            <span th:text="${'Fee for extra giga: ' + service.extragigafee}"></span>
                        </span>
                    </p>
                </div>
            </td>
            <td>
                <div th:if="${package.availableProducts!=null and !package.availableProducts.isEmpty()}">
                    <p th:each="prod: ${package.availableProducts}">
                        <span th:text="${'Name: ' + prod.name}"></span>
                        <span th:text="${'Fee: ' + prod.monthlyFee}"></span>
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <h2> Here is the list of all unassigned services: </h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Minutes</th>
            <th>SMS</th>
            <th>Giga</th>
            <th>Extra Minutes Fee</th>
            <th>Extra SMS Fee</th>
            <th>Extra Giga Fee</th>
        </tr>
        <tr th:each="service: ${unassignedServices}">
            <td th:text="${service.serviceid}"></td>
            <td th:text="${service.name}"></td>
            <td th:text="${service.type}"></td>
            <div th:switch="${service.type}">
                <p th:case="FixedPhone">
                    <td th:text="'--'"></td>
                    <td th:text="'--'"></td>
                    <td th:text="'--'"></td>
                    <td th:text="'--'"></td>
                    <td th:text="'--'"></td>
                    <td th:text="'--'"></td>
                </p>

                <p th:case="MobilePhone">
                    <td th:text="${service.minutes}"></td>
                    <td th:text="${service.sms}"></td>
                    <td th:text="'--'"></td>
                    <td th:text="${service.extraminfee}"></td>
                    <td th:text="${service.extrasmsfee}"></td>
                    <td th:text="'--'"></td>
                </p>

                <p th:case="FixedInternet">
                    <td th:text="'--'"></td>
                    <td th:text="'--'"></td>
                    <td th:text="${service.giga}"></td>
                    <td th:text="'--'"></td>
                    <td th:text="'--'"></td>
                    <td th:text="${service.extragigafee}"></td>
                </p>

                <p th:case="MobileInternet">
                <td th:text="'--'"></td>
                <td th:text="'--'"></td>
                <td th:text="${service.giga}"></td>
                <td th:text="'--'"></td>
                <td th:text="'--'"></td>
                <td th:text="${service.extragigafee}"></td>
                </p>
            </div>
        </tr>
    </table>

    <h2> Fill in this form to create a Service Package </h2>
    <div class="formdiv">
        <form action="CreateServicePackage" method="post">
            Name: <label><input type="text" name="name" required placeholder="Basic, Family, Business, etc..."></label><br>
            12 Month Cost: <label><input type="text" name="cost12" required></label><br>
            24 Month Cost: <label><input type="text" name="cost24" required></label><br>
            36 Month Cost: <label><input type="text" name="cost36" required></label><br>
            Choose Services <br>
            <label><input type="checkbox" th:name="servicesID"  th:each="serv:${unassignedServices}"
                   th:value="${serv.serviceid}" th:text="${serv.name}">
            </label> <br> <br>
            Choose optional products <br>
            <label><input type="checkbox" th:name="productsID" th:each="prod:${optionalProducts}"
                   th:value="${prod.id}" th:text="${prod.name}">
            </label> <br> <br>
            <label><input type="submit" value="CreateServicePackage"></label> <br>
        </form>
    </div>
    <div th:if="${errorMsgServPckgCreation}">
        <p th:text="'Error: ' +  ${errorMsgServPckgCreation}"></p>
    </div>
    <div th:if="${successMsgServPckgCreation}">
        <p th:text="${successMsgServPckgCreation}"></p>
    </div>

    <h2> Fill in this form to create an Optional Product </h2>
    <div class="formdiv">
        <form action="CreateOptionalProduct" method="post">
            Name: <label><input type="text" name="name" required></label><br>
            Monthly Fee <label><input type="text" name="monthlyFee" required></label><br> <br>
            <label><input type="submit" value="CreateOptionalProduct"></label><br>
        </form>
    </div>
    <hr>
    <div th:if="${errorMsgOptCreation}">
        <p th:text="'Error: ' +  ${errorMsgOptCreation}"></p>
    </div>
    <div th:if="${successMsgOptCreation}">
        <p th:text="${successMsgOptCreation}"></p>
    </div>

    <div th:if="${errorServiceCreation}">
        <p th:text="'Error: ' +  ${errorServiceCreation}"></p>
    </div>
    <div th:if="${successServiceCreation}">
        <p th:text="${successServiceCreation}"></p>
    </div>
    <!-- Create Services -->
    <h2> Fill in this form to create a fixed phone service</h2>
        <div class="formdiv">
            <form action="CreateService" method="post">
                Name: <label><input type="text" name = "name" required></label><br>
                Type: <label><input type="text" name = "type" value="FixedPhone" readonly placeholder="Fixed Phone"></label><br>
            <label><input type="submit" value="CreateService"></label><br>
            </form>
        </div>

    <h2> Fill in this form to create a mobile phone service</h2>
    <div class="formdiv">
        <form action="CreateService" method="post">
            Name: <label><input type="text" name = "name" required></label><br>
            Type: <label><input type="text" name = "type" value="MobilePhone" readonly placeholder="Mobile Phone"></label><br>
            Minutes: <label><input type="text" name="minutes" required></label><br>
            SMS: <label><input type="text" name="SMS" required></label><br>
            Extra Minutes Fee <label><input type="text" name="extraMinFee" required></label> <br>
            Extra SMS Fee <label><input type="text" name="extraSMSFee" required></label><br> <br>
            <label><input type="submit" value="CreateService"></label><br>
        </form>
    </div>

    <h2> Fill in this form to create a mobile internet service</h2>
    <div class="formdiv">
        <form action="CreateService" method="post">
            Name: <label><input type="text" name = "name" required></label><br>
            Type: <label><input type="text" name = "type" value="MobileInternet" readonly placeholder="Mobile Internet"></label><br>
            Giga: <label><input type="text" name="giga" required></label><br>
            extraGigaFee: <label><input type="text" name="extraGigaFee" required></label><br> <br>
            <label><input type="submit" value="CreateService"></label><br>
        </form>
    </div>

    <h2> Fill in this form to create a fixed internet service</h2>
    <div class="formdiv">
        <form action="CreateService" method="post">
            Name: <label><input type="text" name = "name" required></label><br>
            Type: <label><input type="text" name = "type" value="FixedInternet" readonly placeholder="Fixed Internet"></label><br>
            Giga: <label><input type="text" name="giga" required></label><br>
            extraGigaFee: <label><input type="text" name="extraGigaFee" required></label><br> <br>
            <label><input type="submit" value="CreateService"></label><br>
        </form>
    </div>
</body>
</html>