<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CustomerIndex</title>
</head>
<body>
    <h1> Welcome to the Telco Customer Application</h1>

    <h2> Fill this form to log into the system: </h2>
    <form action = "CheckLogin" method="POST">
        Username: <input type="text" name="username" required> <br>
        Password: <input type="password" name="pwd" required><br>
        <input type="submit" value="Login"><br>
        <p th:text=" ${errorMsg}"></p>
    </form>

    <h2> Fill this form to register into the system: </h2>
    <form action = "Register" method="POST">
        Username: <input type="text" name="username" required> <br>
        Password: <input type="password" name="pwd" required><br>
        Email: <input type="text" name="email" required><br>
        Employee: <input type="checkbox" name="isEmployee" ><br>
        <input type="submit" value="Sign up">
        <p th:text=" ${notifyMsg}"></p>
    </form>
</body>
</html>