<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CustomerIndex</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1> Welcome to the Telco Customer Application</h1>

    <h2> Fill this form to log with a Customer account: </h2>
    <div class="formdiv">
        <form action = "CheckLogin" method="POST">
            Username: <label><input type="text" name="username" required></label> <br>
            Password: <label><input type="password" name="pwd" required></label> <br>
                      <label><input type="hidden" name="type" value="Customer"> </label> <br>
            <input type="submit" value="Login"><br>
            <p th:text=" ${errorMsg}"></p>
        </form>
    </div>

    <div>
        <a th:href="@{/HomeCustomer}"> Click here to go to the Customer Home. </a>
    </div>

    <h2> Fill this form to register into the system: </h2>
    <div class="formdiv">
        <form action = "Register" method="POST">
            Username: <label><input type="text" name="username" required></label> <br>
            Password: <label><input type="password" name="pwd" required></label> <br>
            Email: <label><input type="text" name="email" required></label> <br>
            Employee: <label><input type="checkbox" name="isEmployee" ></label> <br>
            <input type="submit" value="Sign up">
            <p th:text=" ${notifyMsg}"></p>
        </form>
    </div>
    <div align="left">
        <a th:href="@{/IndexEmployee}">Access the Employee Application.</a>
    </div>
</body>
</html>